.portfolio_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
}
.portfolio_item{
    background: var(--color-bg-varient);
    padding:1.2rem;
    border-radius: 2rem;
    border:1px solid transparent;
    transition: var(--transition);
}
.portfolio_item-image{
    border-radius: 1.5rem;
    overflow: hidden;

}
.portfolio_item h3{
    margin: 1.2rem 0 2rem;
}
.portfolio_item-btn{
    display: flex;
    gap: 1rem;
    margin-left: 2rem;
}
.img_portfolio{
    height: 15rem;
    width: 15rem;
    margin-left: 2rem;
}
/* Media Queries (max devices)----> */

@media screen and (max-width:1024px){
    #portfolio{
        margin-top: 30rem;
    }
    .portfolio_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width:45rem;
    }
    .portfolio_item-btn{
        margin-right: 2rem;
    }
 }

 /* Media Queries (small devices)----> */

 @media screen and (max-width:600px){
    #portfolio{
        margin-top: 35rem;
    }
    .portfolio_container{
        display: grid;
        grid-template-columns: 1fr;
        width: 21rem;
    }
    .portfolio_item-btn{
        margin-right: 2rem;
    }
    
 }