#testimonials{
    margin-top: 10rem;
}
.testimonials_container{
    width: 30rem;
    height: 15rem;
    
}
.client_avatar{
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-varient);
}.client_name-icon{
    display: flex;
    gap: 0.5rem;
    margin-top: 1.5rem;
}
.client-icon{
    margin-top: 2px;
    color: var(--color-primary);
}
.testimonials{
    background: var(--color-bg-varient);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
    margin-bottom: 2rem;
}
.client_review{
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 25rem;
    
}
.swiper-pagination-clickable .swiper-pagination-bullet{
    color: var(--color-primary);

}
/* Media Queries (max devices)----> */

@media screen and (max-width:1024px){
   #testimonials{
    margin-top: 45rem;
    height: 35rem;
    
   }
 .testimonials_container{
    width: 30rem;
    height: 20rem;
    
 }
}

 /* Media Queries (small devices)----> */

 @media screen and (max-width:600px){
    #testimonials{
        margin-top: 50rem;
    }
    .testimonials_container{
        display: grid;
        grid-template-columns: 1fr;
        width: 15rem;

    }
    .client_review{
        width: 12rem;
    }
    
 }